/* styles/Footer.module.css */

.footer {
    background-color: #000;  /* Black background */
    color: #fff;  /* White text */
    padding: 40px 20px;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footerTopSection {
    flex-basis: 100%;  
    margin-bottom: 20px;
    text-align: center;  
}

.footerSection {
    flex: 1 1 200px; 
    margin-bottom: 20px;
    padding: 0 15px;  
}

.footerTitle {
    font-family: 'Jacquard 12', sans-serif;
    color: #fff;  
    font-size: 48px;
    margin-bottom: 10px;
}

.footerLinkTitle {
    font-family: 'Jacquard 12', sans-serif;
    color: #fff;  
    font-size: 24px;  /* Increased font size for link titles */
    margin-bottom: 10px;
}

.footerLinksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footerLinksList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLink {
    text-decoration: none;
    color: #fff;  /* White link text */
    margin-bottom: 5px;
    display: block;
}

.footerLink:hover {
    color: #007bff;  /* Optional: Add a hover effect to change link color */
}
