@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jacquard+12&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #000000;
}

.h1 {
    margin: 0;
    color: #fff;
    font-size: 80px;
    font-family: 'Danfo', sans-serif;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-right: 20px;
}

.nav li:last-child {
    margin-right: 0;
}

.button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.buttonwallet {
    margin-left: 70px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.icon {
    border-radius: 10px;
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    vertical-align: middle; /* Align the icon vertically */
}